body {
  height: 100vh;
  padding: 1rem;
}

#app {
  height: 100%;
  aspect-ratio: 9 / 16;
  margin: auto;
}

#app .card-footer {
  font-size: small;
}

#ttt-grid {
  aspect-ratio: 1/1;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
