:root {
  --bg-primary: #ffed63;
  --bg-secondary: rgb(0 0 0);
  --text-primary: rgb(0 0 0);
  --text-secondary: rgb(255 255 255);

  --bs-primary-rgb: 255, 237, 99;
  --bs-dark-rgb: 0, 0, 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-maximize {
  display: flex;
}
.flex-maximize > * {
  flex: 1;
}

#main > div {
  width: 24rem;
}

.btn-check + .btn::after {
  /*  Workaround for bold text increasing the element size
   *  https://stackoverflow.com/a/32570813
   */
  display: block;
  content: attr(data-text);
  font-weight: bold;
  height: 0;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}
.btn-check + .btn {
  opacity: calc(100% * calc(2 / 3));
  border: none;
}
.btn-check:checked + .btn,
.btn-check:hover + .btn,
_ {
  opacity: 100%;
  font-weight: bold;
  transition: 0.1s;
}

.btn-group[data-nav='home-nav'] ~ [data-nav='home-nav'],
.btn-group[data-nav='menu-nav'] ~ [data-nav='menu-nav'],
.btn-group[data-nav='contact-nav'] ~ [data-nav='contact-nav'],
_ {
  display: unset !important;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content > * {
  flex: 1;
}

[data-nav='home-nav'] .content .logo {
  margin-top: -6rem;
}
[data-nav='home-nav'] .content .flex-maximize {
  margin-top: -4rem;
}
[data-nav='home-nav'] .content .food-entry img {
  width: 50%;
}
[data-nav='home-nav'] .content .food-entry > *:last-child::first-letter {
  font-size: 2rem;
}
[data-nav='home-nav'] .content footer {
  flex: unset;
  height: 6rem;
}
[data-nav='home-nav'] .content footer p {
  font-size: small;
}
