h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#content {
  padding: 1rem;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 3rem;

  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    'projects announcements'
    'projects trending';
  gap: 1.5rem 1rem;
}
#content > * {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  gap: 0.5rem;
}
#content-projects {
  grid-area: projects;
}
#content-announcements {
  grid-area: announcements;
}
#content-trending {
  grid-area: trending;
}

.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}
.content-text-secondary {
  font-size: small;
  color: gray;
}

/* Announcements */
#announcement-list {
  overflow-y: auto;
}
#announcement-list .content-text-secondary {
  font-size: x-small;

  /*  Limit text to specific number of lines, and append an ellipsis on truncation
   *  The following is non-standard but apparently well-supported...
   *  https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp
   *  https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css
   */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
#announcement-list article {
  cursor: pointer;
}
#announcement-list hr {
  margin: 1rem 0;
}

/* Trending */
#trending-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  gap: 1.5rem;

  overflow-y: auto;
}
.trending-project {
  cursor: pointer;
  width: 100%;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  align-items: center;
  gap: 1rem;
}
.trending-project .user-picture {
  height: 3rem;
}
.project-info {
  width: max-content;
}

/* Projects */
#project-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: stretch;

  /*  Rudimentary blur effect on scrollable elements
   *  Much help from:
   *  https://web.dev/css-masking/
   */
  /* prettier-ignore */
  --gradient-mask: linear-gradient(
    transparent 0%,
    white 2%,
    white 98%,
    transparent 100%
  );
  mask-image: var(--gradient-mask);
  -webkit-mask-image: var(--gradient-mask);
  margin: -0.75rem 0;
  padding: 0.75rem 0;

  overflow-y: auto;
  scrollbar-width: none;
}
#project-list::-webkit-scrollbar {
  display: none;
}
#project-list .card {
  cursor: pointer;

  aspect-ratio: 3 / 2;
  max-width: 100%;

  border-left: 0.5rem solid orange;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  align-content: space-between;
}
#project-list .project-actions {
  justify-self: end;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: 1.5rem;
}
#project-list .mdi {
  font-size: 1.25rem;
  color: darkslategray;
}
