#header {
  padding: 1rem 2rem;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 4fr;
  gap: 1.5rem 1rem;
}

.header-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  align-items: center;
  gap: 1rem;
}

.header-section:nth-child(2n) {
  justify-self: end;
}

#header .mdi {
  font-size: 1.25rem;
}

/* Profile elements */
.user-picture {
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  background-color: gainsboro;
}
.user-name {
  min-width: max-content;
  font-weight: 900; /* Roboto Black */
}

/* Search bar */
.header-section:nth-child(1) {
  grid-template-columns: min-content auto;
}
.header-section:nth-child(1) input {
  padding: 0 1rem;
  height: 1.75rem;
  min-width: 8rem;
  max-width: 32rem;
  border-radius: 1rem / 50%;

  border: none;
  background-color: gainsboro;
  outline: none;

  font-size: small;
}

/* Profile */
.header-section:nth-child(2) {
  padding: 0 1rem;
  gap: 0 1.75rem;
}
.header-section:nth-child(2) .mdi {
  cursor: pointer;
}
.header-section:nth-child(2) .user-picture {
  height: 2.5rem;
}
.header-section:nth-child(2) .user-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Greeting */
.header-section:nth-child(3) .user-picture {
  height: 3.5rem;
}
.header-section:nth-child(3) .user-greeting {
  font-weight: 900;
  font-size: x-small;
}
.header-section:nth-child(3) .user-name {
  font-size: large;
}

/* Header buttons */
.header-section:nth-child(4) {
  gap: 1.5rem;
}
.header-section:nth-child(4) button {
  padding: 0.5rem 0;
  border-radius: 1rem / 50%;
  min-width: 5.5rem;

  cursor: pointer;
  border: none;
  color: white;
  background-color: dodgerblue;

  font-size: small;
}
.header-section:nth-child(4) button:hover {
  transition: 0.15s;
}
.header-section:nth-child(4) button:active {
  background-color: hsl(210, 100%, calc(56% + calc(50% * 0.25)));
  transition: 0s;
}
